body{
  max-width: 1440px;
  min-width: 375px;
  background-color: hsl(30, 38%, 92%);
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:15px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  height: 50px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:hover{
  background-color: hsl(158, 36%, 30%);
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.photo-area{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 50%;
}

.photo-area img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
.description{
  text-align: left;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-body{
  width: 50%;
  height: auto;
  min-width: 350px;
  min-height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


.category-header{
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 5px;
  text-align: left;
  margin-top: 10px;
}


.title-header{
  font-family: 'Fraunces', serif;
  font-size: 35px;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 7px;
  color: hsl(212, 21%, 14%)
  
}


.price-area{
  font-family: 'Fraunces', serif;
  display: flex;
  align-items: center;
}

.text-area{
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(228, 12%, 48%);
  align-self: center;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.current-price{
  font-size: xx-large;
  color: hsl(158, 36%, 37%);
  margin-right: 30px;
}

.old-price{
  
  font-size: small;

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

